{% if form_control.view == 'check' %}
  <div class="form-check {{ form_control.class }}" {{ form_control.attrs }}>
    <input
      id="{{ form_control.name }}_{{ loop.index|default('default') }}"
      class="form-check__input {{ form_control.input.class }}"
      type="{{ form_control.input.type|default('text') }}"
      name="{{ form_control.input.name|default('name') }}"
      {{ form_control.input.attrs }}
    >
    <label
      for="{{ form_control.name }}_{{ loop.index|default('default') }}"
      class="form-check__label {{ form_control.label.class }}"
    >
      {{ form_control.label.text }}
    </label>

    {% if form_control.num %}
      <div class="form-check__num">
        {{ form_control.num }}
      </div>
    {% endif %}
  </div>
{% elseif form_control.view == 'select' %}
  <sl-select
    class="select {{ form_control.select.class }}"
    value="{{ form_control.select.initial_value }}"
    label="{{ form_control.select.label }}"
    {{ form_control.select.attrs }}
  >
    {% if form_control.select.choice_icon %}
      <span class="select__choice-icon" slot="prefix"></span>
    {% endif %}

    {% for option in form_control.select.options %}
      <sl-option class="select__option" value="{{ option.value }}">
        {% if option.icon %}
          <span class="select__option-icon" slot="prefix">
            {% include "../../@atoms/icon/icon.twig" with {
              icon: option.icon
            } %}
          </span>
        {% endif %}

        {{ option.text }}
      </sl-option>
    {% endfor %}

    {% include "../../@atoms/icon/icon.twig" with {
      icon: {
        class: "select__icon",
        name: "sprite-mono.svg#arrow-down",
        attrs: "slot='expand-icon'"
      }
    } %}
  </sl-select>
{% elseif form_control.view == 'textarea' %}
  <div class="form-control {{ form_control.class }}">
    {% if form_control.label %}
      <label
        for="{{ form_control.name }}_{{ loop.index|default('default') }}"
        class="form-control__label {{ form_control.label.class }}"
      >
        {{ form_control.label.text }}
      </label>
    {% endif %}

    <textarea
      {% if form_control.name %}id="{{ form_control.name }}_{{ loop.index|default('default') }}"{% endif %}
      class="form-control__input {{ form_control.input.class }}"
      name="{{ form_control.input.name|default("name") }}"
      placeholder="{{ form_control.input.placeholder }}"
      {{ form_control.input.attrs }}
    ></textarea>
  </div>
{% elseif form_control.view == 'check_btn' %}
  <div class="form-check-btn">
    <input
      id="{{ form_control.name }}_{{ loop.index|default('default') }}"
      type="checkbox"
      class="form-check-btn__input visually-hidden"
      name="{{ form_control.input.name|default("name") }}"
    >
    <label
      for="{{ form_control.name }}_{{ loop.index|default('default') }}"
      class="form-check-btn__label"
    >
      {{ form_control.label.text }}
    </label>
  </div>
{% else %}
  <div class="form-control {{ form_control.class }}">
    {% if form_control.search_box.loupe_btn %}
      <noscript>
        {% include "../../@atoms/button/button.twig" with {
          button: form_control.search_box.loupe_btn|default({})|merge({
            icon: {
              name: "sprite-mono.svg#loupe"
            },
            attrs: "aria-label='Отправить запрос'"
          })
        } %}
      </noscript>

      {% include "../../@atoms/icon/icon.twig" with {
        icon: form_control.search_box.loupe_icon|default({})|merge({
          name: "sprite-mono.svg#loupe"
        })
      } %}
    {% endif %}

    {% if form_control.label %}
      <label
        for="{{ form_control.name }}_{{ loop.index|default('default') }}"
        class="form-control__label {{ form_control.label.class }}"
      >
        {{ form_control.label.text }}
      </label>
    {% endif %}

    <input
      {% if form_control.name %}id="{{ form_control.name }}_{{ loop.index|default('default') }}"{% endif %}
      class="form-control__input {{ form_control.input.class }}"
      type="{{ form_control.input.type|default('text') }}"
      name="{{ form_control.input.name|default("name") }}"
      placeholder="{{ form_control.input.placeholder }}"
      {{ form_control.input.attrs }}
    >

    {% if form_control.search_box.num_product_result %}
      <div class="search-box__num-product-result">
        {{ form_control.search_box.num_product_result }}
      </div>
    {% endif %}

    {% if form_control.search_box.close %}
      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "search-box__close",
          icon: {
            class: "search-box__close-icon",
            name: "sprite-mono.svg#close"
          },
          attrs: "aria-label='Закрыть поиск' type='button'"
        }
      } %}
    {% endif %}

    {% if form_control.input.type == 'password' %}
      {% include "../../@atoms/button/button.twig" with {
        button: {
          class: "form-control__password-btn",
          icons: [{
            class: "form-control__password-icon form-control__password-icon--eye",
            name: "sprite-multi.svg#eye"
          }, {
            class: "form-control__password-icon form-control__password-icon--slash",
            name: "sprite-multi.svg#eye-slash"
          }],
          attrs: "aria-label='Сменить видимость пароля' type='button'"
        }
      } %}
    {% endif %}
  </div>
{% endif %}
