<section class="personal-account section">
  <div class="container">
    <div class="personal-account__btns">
      <div class="personal-account__btns-block toggle-group">
        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "toggle-group__btn",
            href: "#",
            text: {
              text: "Мой профиль"
            },
            attrs: personal_account.btns.btns_block_1.btn_1.attrs
          }
        } %}

        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "toggle-group__btn",
            href: "#",
            text: {
              text: "Мои заказы"
            },
            attrs: personal_account.btns.btns_block_1.btn_2.attrs
          }
        } %}
      </div>
    </div>

    {% if personal_account.type == 'current_orders' or personal_account.type == 'history_orders' or personal_account.type == 'selected_filters' %}
      <form class="personal-account__filter-block" action="/" method="get" autocomplete="off">
        {% include "../../@atoms/form_control/form_control.twig" with {
          form_control: {
            view: "select",
            select: {
              class: "personal-account__select",
              label: "Сортировать по:",
              initial_value: "option-1",
              options: [{
                value: "option-1",
                text: "Самые последние вверху"
              }, {
                value: "option-2",
                text: "Самые последние снизу"
              }]
            }
          }
        } %}

        <noscript class="personal-account__no-js-form">
          <form class="no-js-form" action="/" method="get">
            <div class="select-wrapper">
              <select class="select select--no-js" name="sort">
                <option value="option-1">Самые последние вверху</option>
                <option value="option-2">Самые последние снизу</option>
              </select>
            </div>
            {% include "../../@atoms/button/button.twig" with {
              button: {
                class: "btn--link no-js-form__btn",
                text: {
                  text: "Отсортировать"
                }
              }
            } %}
          </form>
        </noscript>

        {% include "../../&organisms/search_box/search_box.twig" with {
          search_box: {
            class: "search-box--secondary search-box--tertiary",
            num_product_result: "Найдено 0 товаров",
            placeholder: "Введите номер заказа",
            num_product_result_mobile: "Найдено 0 заказов"
          }
        } %}

        {% include "../../@atoms/button/button.twig" with {
          button: {
            class: "btn--btn btn--outline personal-account__filter-btn js-drawer-btn",
            text: {
              text: personal_account.type == 'selected_filters' ? "Фильтр (3)" : "Фильтр"
            },
            icon: {
              name: "sprite-mono.svg#filter"
            },
            attrs: "type='button'"
          }
        } %}
      </form>

      {% if personal_account.type == 'selected_filters' %}
        <form class="personal-account__selected-items" action="/" method="get">
          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "personal-account__selected-item",
              text: {
                text: "Какой-то статус"
              },
              right_icon: {
                class: "personal-account__selected-icon",
                name: "sprite-mono.svg#close"
              }
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "personal-account__selected-item",
              text: {
                text: "Какой-то статус"
              },
              right_icon: {
                class: "personal-account__selected-icon",
                name: "sprite-mono.svg#close"
              }
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "personal-account__selected-item",
              text: {
                text: "С 17.05.2023 по 25.05.2023"
              },
              right_icon: {
                class: "personal-account__selected-icon",
                name: "sprite-mono.svg#close"
              }
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "personal-account__selected-reset btn--link",
              text: {
                text: "Сбросить фильтры"
              },
              attrs: "type='reset'"
            }
          } %}
        </form>
      {% endif %}

      <sl-drawer label="Drawer" class="drawer personal-account-drawer js-drawer" no-header>
        <div class="personal-account-drawer__title-wrap">
          {% include "../../@atoms/icon/icon.twig" with {
            icon: {
              class: "personal-account-drawer__title-icon",
              name: "sprite-mono.svg#filter"
            },
          } %}

          {% include "../../@atoms/title/title.twig" with {
            title: {
              level: 2,
              class: "personal-account-drawer__title",
              text: "Фильтры"
            }
          } %}

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "personal-account-drawer__close js-drawer-close",
              icon: {
                class: "personal-account-drawer__close-icon",
                name: "sprite-mono.svg#close"
              }
            }
          } %}
        </div>

        <form class="personal-account-drawer__form" action="/" method="get">
          <div class="personal-account-drawer__wrap">
            <div class="personal-account-drawer__item">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 3,
                  class: "personal-account-drawer__item-title",
                  text: "Статус заказа"
                }
              } %}

              {% set checkboxes = [{
                name: "status",
                label: {
                  class: "personal-account-drawer__label",
                  text: "Ожидает оплаты"
                }
              }, {
                name: "status",
                label: {
                  class: "personal-account-drawer__label",
                  text: "Оплачен"
                }
              }, {
                name: "status",
                label: {
                  class: "personal-account-drawer__label",
                  text: "Ожидает обработки менеджером"
                }
              }, {
                name: "status",
                label: {
                  class: "personal-account-drawer__label",
                  text: "Отправлен"
                }
              }, {
                name: "status",
                label: {
                  class: "personal-account-drawer__label",
                  text: "Готов к выдаче"
                }
              }, {
                name: "status",
                label: {
                  class: "personal-account-drawer__label",
                  text: "Отменен"
                }
              }, {
                name: "status",
                label: {
                  class: "personal-account-drawer__label",
                  text: "Возврат"
                }
              }, {
                name: "status",
                label: {
                  class: "personal-account-drawer__label",
                  text: "Выполнен"
                }
              }] %}

              {% for checkbox in checkboxes %}
                {% include "../../@atoms/form_control/form_control.twig" with {
                  form_control: checkbox|default({})|merge({
                    view: "check",
                    input: {
                      type: "checkbox",
                    }
                  })
                } %}
              {% endfor %}
            </div>

            <div class="personal-account-drawer__item">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 3,
                  class: "personal-account-drawer__item-title",
                  text: "Период заказов"
                }
              } %}

              {% include "../../@atoms/form_control/form_control.twig" with {
                form_control: {
                  class: "form-control--col",
                  name: "period_orders_before",
                  input: {
                    type: "date",
                    name: "period_orders_before",
                  },
                  label: {
                    text: "Дата «С»"
                  }
                }
              } %}

              {% include "../../@atoms/form_control/form_control.twig" with {
                form_control: {
                  class: "form-control--col",
                  name: "period_orders_after",
                  input: {
                    type: "date",
                    name: "period_orders_after",
                  },
                  label: {
                    text: "Дата «По»"
                  }
                }
              } %}
            </div>
          </div>

          {% include "../../@atoms/button/button.twig" with {
            button: {
              class: "btn--btn btn--primary personal-account-drawer__submit",
              text: {
                text: "Применить фильтр"
              }
            }
          } %}

          <div class="personal-account-drawer__footer">
            <div class="personal-account-drawer__result-text">
              Найдено
            </div>

            <div class="personal-account-drawer__result">
              10 заказов
            </div>

            {% include "../../@atoms/button/button.twig" with {
              button: {
                class: "btn--btn btn--low-visible personal-account-drawer__reset",
                text: {
                  text: "Сбросить"
                }
              }
            } %}
          </div>
        </form>
      </sl-drawer>

      <div class="personal-account__details-wrap">
        <sl-details class="details personal-account__details">
          <div class="details__summary" slot="summary">
            <div class="details__summary-start">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 2,
                  class: "details__title personal-account__details-title",
                  text: "3. Заказ №466 от 10.10.2023г.",
                  link: {
                    class: "btn--link details__title-link"
                  }
                }
              } %}

              <div class="details__summary-start-wrap">
                <div class="status status--{{ personal_account.status.type }}">
                  {{ personal_account.status.text }}
                </div>

                {% if not personal_account.is_ur %}
                  {% include "../../@atoms/button/button.twig" with {
                    button: {
                      href: "#",
                      class: "btn--btn details__btn details__pay-btn personal-account__details-btn personal-account__details-btn--start",
                      text: {
                        text: "Оплатить заказ",
                      }
                    }
                  } %}
                {% endif %}
              </div>
            </div>

            <div class="details__summary-end">
              <div class="details__price">
                <div class="details__price-text">Итого со скидкой</div>
                <div class="details__price-num">720 450 ₽</div>
              </div>

              <div class="details__summary-end-wrap">
                {% if personal_account.is_ur %}
                  {% include "../../@atoms/button/button.twig" with {
                    button: {
                      href: "#",
                      class: "btn--btn details__btn details__pay-btn",
                      text: {
                        text: "Посмотреть счет",
                      }
                    }
                  } %}
                {% endif %}

                {% include "../../@atoms/button/button.twig" with {
                  button: {
                    href: "#",
                    class: "btn--btn btn--primary details__btn",
                    text: {
                      text: "Повторить заказ"
                    },
                  }
                } %}

                {% if not personal_account.is_ur %}
                  {% include "../../@atoms/button/button.twig" with {
                    button: {
                      href: "#",
                      class: "btn--btn details__btn details__pay-btn personal-account__details-btn personal-account__details-btn--end",
                      text: {
                        text: "Оплатить заказ",
                      }
                    }
                  } %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="details__content">
            <div class="details__item">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 3,
                  class: "details__subtitle",
                  text: "Персональные данные"
                }
              } %}

              {% if not personal_account.is_ur %}
                <dl class="details__cols">
                  <div class="details__col">
                    <div class="details__col-item">
                      <dt class="details__col-key">
                        Ваше имя
                      </dt>
                      <dd class="details__col-value">
                        Маргарита
                      </dd>
                    </div>
                    <div class="details__col-item">
                      <dt class="details__col-key">
                        Номер телефона
                      </dt>
                      <dd class="details__col-value">
                        {% include "../../@atoms/button/button.twig" with {
                          button: {
                            href: "tel:+79435445353",
                            class: "btn--link",
                            text: {
                              text: "+7 (943) 544 53 53"
                            }
                          }
                        } %}
                      </dd>
                    </div>
                    <div class="details__col-item">
                      <dt class="details__col-key">
                        E-mail
                      </dt>
                      <dd class="details__col-value">
                        {% include "../../@atoms/button/button.twig" with {
                          button: {
                            href: "mailto:kovalenko.margarita@gmail.com",
                            class: "btn--link",
                            text: {
                              text: "kovalenko.margarita@gmail.com"
                            }
                          }
                        } %}
                      </dd>
                    </div>
                  </div>
                  <div class="details__col">
                    <div class="details__col-item">
                      <dt class="details__col-key">
                        Способ оплаты
                      </dt>
                      <dd class="details__col-value">
                        Оплата при получении
                      </dd>
                    </div>
                    <div class="details__col-item">
                      <dt class="details__col-key">
                        Адрес торговой точки
                      </dt>
                      <dd class="details__col-value">
                        г. Москва, ул. Тарханская, д. 4, корп. 15
                      </dd>
                    </div>
                  </div>
                  <div class="details__col">
                    <div class="details__col-item">
                      <dt class="details__col-key">
                        Комментарий к заказу
                      </dt>
                      <dd class="details__col-value">
                        Было бы здорово, если курьер заранее позвонит мне, чтобы я могла быть на месте и принять заказ. Также, если возможно, прошу упаковать товар более надежно, чтобы избежать повреждений в процессе транспортировки. Спасибо!
                      </dd>
                    </div>
                  </div>
                </dl>
              {% else %}
              <dl class="details__cols">
                <div class="details__col">
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Ваше ФИО
                    </dt>
                    <dd class="details__col-value">
                      Коваленко Маргарита Вячеславовна
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Номер телефона
                    </dt>
                    <dd class="details__col-value">
                      {% include "../../@atoms/button/button.twig" with {
                        button: {
                          href: "tel:+79435445353",
                          class: "btn--link",
                          text: {
                            text: "+7 (943) 544 53 53"
                          }
                        }
                      } %}
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      E-mail
                    </dt>
                    <dd class="details__col-value">
                      {% include "../../@atoms/button/button.twig" with {
                        button: {
                          href: "mailto:kovalenko.margarita@gmail.com",
                          class: "btn--link",
                          text: {
                            text: "kovalenko.margarita@gmail.com"
                          }
                        }
                      } %}
                    </dd>
                  </div>
                </div>
                <div class="details__col">
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Плательщик (юр. наименование)
                    </dt>
                    <dd class="details__col-value">
                      Юридическое наименование учреждения
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      ИНН
                    </dt>
                    <dd class="details__col-value">
                      770201001
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      КПП
                    </dt>
                    <dd class="details__col-value">
                      770201001
                    </dd>
                  </div>
                </div>
                <div class="details__col">
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Юридичесский адрес
                    </dt>
                    <dd class="details__col-value">
                      г. Москва, ул. Тарханская, д. 4
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Адрес доставки
                    </dt>
                    <dd class="details__col-value">
                      г. Москва, ул. Тарханская, д. 4, корп. 2, кв 44
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Способ оплаты
                    </dt>
                    <dd class="details__col-value">
                      Оплата при получении
                    </dd>
                  </div>
                </div>
                <div class="details__col">
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Комментарий к заказу
                    </dt>
                    <dd class="details__col-value">
                      Пожалуйста, упакуйте товары бережно и надежно, так как они будут в подарок.
                    </dd>
                  </div>
                </div>
              </dl>
              {% endif %}
            </div>
            <div class="details__item">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 3,
                  class: "details__subtitle",
                  text: "Список товаров"
                }
              } %}

              {% set items = [{
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/01.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }, {
                    image: {
                      name: "basket/01.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Лыхны красное полусладкое"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "1 085 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "3"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "39 060 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "5 040 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "34 020 ₽"
                    }
                  }]
                }
              }, {
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/02.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Petit Chablis AOC Domaine Garnier & Fils"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "6 143 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "10"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "61 430 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "0 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "61 430 ₽"
                    }
                  }]
                }
              }, {
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/03.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Chardonnay Bourgogne AOC Lugny L’aurore, 0.75л"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "25 000 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "25"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "625 000 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "0 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "625 000 ₽"
                    }
                  }]
                }
              }, {
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/04.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Tour de Mandelotte Bordeaux AOC Ginestet, 0.75л"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "980 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "1"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "625 000 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "980 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "980 ₽"
                    }
                  }]
                }
              }] %}

              {% for item in items %}
                {% include "../../^molecules/basket_card/basket_card.twig" with {
                  basket_card: item|default({})|merge({
                    class: "basket-card--secondary personal-account__basket-card"
                  })
                } %}
              {% endfor %}
            </div>
          </div>
          <div class="details__icon personal-account__details-icon" slot="expand-icon">
            {% include "../../@atoms/icon/icon.twig" with {
              icon: {
                name: "sprite-mono.svg#arrow-down",
              }
            } %}
          </div>
          <div class="details__icon personal-account__details-icon" slot="collapse-icon">
            {% include "../../@atoms/icon/icon.twig" with {
              icon: {
                name: "sprite-mono.svg#arrow-up",
              }
            } %}
          </div>
        </sl-details>

        <sl-details class="details personal-account__details">
          <div class="details__summary" slot="summary">
            <div class="details__summary-start">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 2,
                  class: "details__title personal-account__details-title",
                  text: "2. Заказ №344 от 14.09.2023г.",
                  link: {
                    class: "btn--link details__title-link"
                  }
                }
              } %}

              <div class="details__summary-start-wrap">
                <div class="status status--{{ personal_account.status.type }}">
                  {{ personal_account.status.text }}
                </div>

                {% if not personal_account.is_ur %}
                  {% include "../../@atoms/button/button.twig" with {
                    button: {
                      href: "#",
                      class: "btn--btn details__btn details__pay-btn personal-account__details-btn personal-account__details-btn--start",
                      text: {
                        text: "Оплатить заказ",
                      }
                    }
                  } %}
                {% endif %}
              </div>
            </div>

            <div class="details__summary-end">
              <div class="details__price">
                <div class="details__price-text">Итого со скидкой</div>
                <div class="details__price-num">10 080 ₽</div>
              </div>

              <div class="details__summary-end-wrap">
                {% if personal_account.is_ur %}
                  {% include "../../@atoms/button/button.twig" with {
                    button: {
                      href: "#",
                      class: "btn--btn details__btn details__pay-btn",
                      text: {
                        text: "Посмотреть счет",
                      }
                    }
                  } %}
                {% endif %}

                {% include "../../@atoms/button/button.twig" with {
                  button: {
                    href: "#",
                    class: "btn--btn btn--primary details__btn",
                    text: {
                      text: "Повторить заказ"
                    },
                  }
                } %}

                {% if not personal_account.is_ur %}
                  {% include "../../@atoms/button/button.twig" with {
                    button: {
                      href: "#",
                      class: "btn--btn details__btn details__pay-btn personal-account__details-btn personal-account__details-btn--end",
                      text: {
                        text: "Оплатить заказ",
                      }
                    }
                  } %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="details__content">
            <div class="details__item">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 3,
                  class: "details__subtitle",
                  text: "Персональные данные"
                }
              } %}

              <dl class="details__cols">
                <div class="details__col">
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Ваше имя
                    </dt>
                    <dd class="details__col-value">
                      Маргарита
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Номер телефона
                    </dt>
                    <dd class="details__col-value">
                      {% include "../../@atoms/button/button.twig" with {
                        button: {
                          href: "tel:+79435445353",
                          class: "btn--link",
                          text: {
                            text: "+7 (943) 544 53 53"
                          }
                        }
                      } %}
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      E-mail
                    </dt>
                    <dd class="details__col-value">
                      {% include "../../@atoms/button/button.twig" with {
                        button: {
                          href: "mailto:kovalenko.margarita@gmail.com",
                          class: "btn--link",
                          text: {
                            text: "kovalenko.margarita@gmail.com"
                          }
                        }
                      } %}
                    </dd>
                  </div>
                </div>
                <div class="details__col">
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Способ оплаты
                    </dt>
                    <dd class="details__col-value">
                      Оплата при получении
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Адрес торговой точки
                    </dt>
                    <dd class="details__col-value">
                      г. Москва, ул. Тарханская, д. 4, корп. 15
                    </dd>
                  </div>
                </div>
                <div class="details__col">
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Комментарий к заказу
                    </dt>
                    <dd class="details__col-value">
                      Было бы здорово, если курьер заранее позвонит мне, чтобы я могла быть на месте и принять заказ. Также, если возможно, прошу упаковать товар более надежно, чтобы избежать повреждений в процессе транспортировки. Спасибо!
                    </dd>
                  </div>
                </div>
              </dl>
            </div>
            <div class="details__item">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 3,
                  class: "details__subtitle",
                  text: "Список товаров"
                }
              } %}

              {% set items = [{
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/01.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }, {
                    image: {
                      name: "basket/01.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Лыхны красное полусладкое"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "1 085 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "3"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "39 060 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "5 040 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "34 020 ₽"
                    }
                  }]
                }
              }, {
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/02.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Petit Chablis AOC Domaine Garnier & Fils"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "6 143 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "10"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "61 430 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "0 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "61 430 ₽"
                    }
                  }]
                }
              }, {
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/03.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Chardonnay Bourgogne AOC Lugny L’aurore, 0.75л"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "25 000 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "25"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "625 000 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "0 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "625 000 ₽"
                    }
                  }]
                }
              }, {
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/04.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Tour de Mandelotte Bordeaux AOC Ginestet, 0.75л"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "980 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "1"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "625 000 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "980 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "980 ₽"
                    }
                  }]
                }
              }] %}

              {% for item in items %}
                {% include "../../^molecules/basket_card/basket_card.twig" with {
                  basket_card: item|default({})|merge({
                    class: "basket-card--secondary personal-account__basket-card"
                  })
                } %}
              {% endfor %}
            </div>
          </div>
          <div class="details__icon personal-account__details-icon" slot="expand-icon">
            {% include "../../@atoms/icon/icon.twig" with {
              icon: {
                name: "sprite-mono.svg#arrow-down",
              }
            } %}
          </div>
          <div class="details__icon personal-account__details-icon" slot="collapse-icon">
            {% include "../../@atoms/icon/icon.twig" with {
              icon: {
                name: "sprite-mono.svg#arrow-up",
              }
            } %}
          </div>
        </sl-details>

        <sl-details class="details personal-account__details">
          <div class="details__summary" slot="summary">
            <div class="details__summary-start">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 2,
                  class: "details__title personal-account__details-title",
                  text: "1. Заказ №156 от 02.06.2023г.",
                  link: {
                    class: "btn--link details__title-link"
                  }
                }
              } %}

              <div class="details__summary-start-wrap">
                <div class="status status--{{ personal_account.status.type }}">
                  {{ personal_account.status.text }}
                </div>

                {% if not personal_account.is_ur %}
                  {% include "../../@atoms/button/button.twig" with {
                    button: {
                      href: "#",
                      class: "btn--btn details__btn details__pay-btn personal-account__details-btn personal-account__details-btn--start",
                      text: {
                        text: "Оплатить заказ",
                      }
                    }
                  } %}
                {% endif %}
              </div>
            </div>

            <div class="details__summary-end">
              <div class="details__price">
                <div class="details__price-text">Итого со скидкой</div>
                <div class="details__price-num">110 032 ₽</div>
              </div>

              <div class="details__summary-end-wrap">
                {% if personal_account.is_ur %}
                  {% include "../../@atoms/button/button.twig" with {
                    button: {
                      href: "#",
                      class: "btn--btn details__btn details__pay-btn",
                      text: {
                        text: "Посмотреть счет",
                      }
                    }
                  } %}
                {% endif %}

                {% include "../../@atoms/button/button.twig" with {
                  button: {
                    href: "#",
                    class: "btn--btn btn--primary details__btn",
                    text: {
                      text: "Повторить заказ"
                    },
                  }
                } %}

                {% if not personal_account.is_ur %}
                  {% include "../../@atoms/button/button.twig" with {
                    button: {
                      href: "#",
                      class: "btn--btn details__btn details__pay-btn personal-account__details-btn personal-account__details-btn--end",
                      text: {
                        text: "Оплатить заказ",
                      }
                    }
                  } %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="details__content">
            <div class="details__item">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 3,
                  class: "details__subtitle",
                  text: "Персональные данные"
                }
              } %}

              <dl class="details__cols">
                <div class="details__col">
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Ваше имя
                    </dt>
                    <dd class="details__col-value">
                      Маргарита
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Номер телефона
                    </dt>
                    <dd class="details__col-value">
                      {% include "../../@atoms/button/button.twig" with {
                        button: {
                          href: "tel:+79435445353",
                          class: "btn--link",
                          text: {
                            text: "+7 (943) 544 53 53"
                          }
                        }
                      } %}
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      E-mail
                    </dt>
                    <dd class="details__col-value">
                      {% include "../../@atoms/button/button.twig" with {
                        button: {
                          href: "mailto:kovalenko.margarita@gmail.com",
                          class: "btn--link",
                          text: {
                            text: "kovalenko.margarita@gmail.com"
                          }
                        }
                      } %}
                    </dd>
                  </div>
                </div>
                <div class="details__col">
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Способ оплаты
                    </dt>
                    <dd class="details__col-value">
                      Оплата при получении
                    </dd>
                  </div>
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Адрес торговой точки
                    </dt>
                    <dd class="details__col-value">
                      г. Москва, ул. Тарханская, д. 4, корп. 15
                    </dd>
                  </div>
                </div>
                <div class="details__col">
                  <div class="details__col-item">
                    <dt class="details__col-key">
                      Комментарий к заказу
                    </dt>
                    <dd class="details__col-value">
                      Было бы здорово, если курьер заранее позвонит мне, чтобы я могла быть на месте и принять заказ. Также, если возможно, прошу упаковать товар более надежно, чтобы избежать повреждений в процессе транспортировки. Спасибо!
                    </dd>
                  </div>
                </div>
              </dl>
            </div>
            <div class="details__item">
              {% include "../../@atoms/title/title.twig" with {
                title: {
                  level: 3,
                  class: "details__subtitle",
                  text: "Список товаров"
                }
              } %}

              {% set items = [{
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/01.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }, {
                    image: {
                      name: "basket/01.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Лыхны красное полусладкое"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "1 085 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "3"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "39 060 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "5 040 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "34 020 ₽"
                    }
                  }]
                }
              }, {
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/02.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Petit Chablis AOC Domaine Garnier & Fils"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "6 143 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "10"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "61 430 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "0 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "61 430 ₽"
                    }
                  }]
                }
              }, {
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/03.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Chardonnay Bourgogne AOC Lugny L’aurore, 0.75л"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "25 000 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "25"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "625 000 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "0 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "625 000 ₽"
                    }
                  }]
                }
              }, {
                tags: {
                  volume: {
                    type: "with_round",
                    class: "tag--volume tag--type-red",
                    text: "0.75л"
                  }
                },
                slider: {
                  items: [{
                    image: {
                      name: "basket/04.png",
                      sizes: {
                        width: 111,
                        height: 142
                      },
                      alt: ""
                    },
                  }]
                },
                content: {
                  title: {
                    level: 4,
                    text: "Вино Tour de Mandelotte Bordeaux AOC Ginestet, 0.75л"
                  }
                },
                list: {
                  label: {
                    item_1: {
                      text: "В коробках (12 бутылок) - 4 шт.",
                      icon: {
                        name: "sprite-multi.svg#box"
                      }
                    },
                    item_2: {
                      text: "В штуках - 3 шт.",
                      icon: {
                        name: "sprite-multi.svg#wine-piece"
                      }
                    }
                  },
                  items: [{
                    text: "Стоимость товара",
                    price: {
                      current: "980 ₽"
                    }
                  }, {
                    text: "Общее кол-во (шт.)",
                    price: {
                      current: "1"
                    }
                  }, {
                    text: "Итого без скидки",
                    price: {
                      current: "625 000 ₽"
                    }
                  }, {
                    text: "Скидка",
                    price: {
                      current: "980 ₽"
                    }
                  }, {
                    text: "Итого со скидкой",
                    price: {
                      current: "980 ₽"
                    }
                  }]
                }
              }] %}

              {% for item in items %}
                {% include "../../^molecules/basket_card/basket_card.twig" with {
                  basket_card: item|default({})|merge({
                    class: "basket-card--secondary personal-account__basket-card"
                  })
                } %}
              {% endfor %}
            </div>
          </div>
          <div class="details__icon personal-account__details-icon" slot="expand-icon">
            {% include "../../@atoms/icon/icon.twig" with {
              icon: {
                name: "sprite-mono.svg#arrow-down",
              }
            } %}
          </div>
          <div class="details__icon personal-account__details-icon" slot="collapse-icon">
            {% include "../../@atoms/icon/icon.twig" with {
              icon: {
                name: "sprite-mono.svg#arrow-up",
              }
            } %}
          </div>
        </sl-details>
      </div>

      {% include "../../^molecules/pagination/pagination.twig" with {
        pagination: {
          class: "personal-account__pagination",
          items: [{
            href: "#",
            text: {
              text: "1"
            },
            current_page: true
          }, {
            href: "#",
            text: {
              text: "2"
            }
          }, {
            href: "#",
            text: {
              text: "3"
            }
          }, {
            href: "#",
            text: {
              text: "..."
            }
          }, {
            href: "#",
            text: {
              text: "15"
            }
          }]
        }
      } %}
    {% endif %}

    {% if personal_account.type == 'profile' %}
      <div class="personal-account__profile">
        <div class="card-block personal-account__profile-block personal-account__profile-block--start">
          <div class="card-block">
            <div class="card-block__item">
              <div class="card-block__header">
                {% include "../../@atoms/title/title.twig" with {
                  title: {
                    class: "card-block__title",
                    level: 2,
                    text: "Фотография профиля"
                  }
                } %}
              </div>
              <div class="card-block__footer card-block__footer--file">
                <form class="personal-account__file-form" action="/" method="get">
                  {% if personal_account.input_file_before_choice %}
                    <label
                      class="form-file form-file--primary"
                      aria-label="Выберите файл"
                      style="background-image: url('assets/images/icons/camera.svg');"
                    >
                      <input
                        class="form-file__input visually-hidden"
                        type="file"
                        accept="image/png, image/jpeg"
                      >
                    </label>
                  {% endif %}

                  {% if personal_account.input_file_after_choice %}
                    <label
                      class="form-file form-file--primary"
                      aria-label="Выберите файл"
                      style="background-image: url('assets/images/personal-account/01.png');"
                    >
                      <input
                        class="form-file__input visually-hidden"
                        type="file"
                        accept="image/png, image/jpeg"
                      >
                    </label>

                    <div class="personal-account__form-wrap">
                      <label class="form-file form-file--secondary" aria-label="Выберите файл">
                        <input
                          class="form-file__input visually-hidden"
                          type="file"
                          accept="image/png, image/jpeg"
                        >
                        <span class="form-file__text">Загрузить новую фотографию</span>
                      </label>

                      {% include "../../@atoms/button/button.twig" with {
                        button: {
                          class: "btn--btn btn--outline personal-account__remove-file",
                          text: {
                            text: "Удалить фотографию"
                          }
                        }
                      } %}
                    </div>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="personal-account__profile-block personal-account__profile-block--end" action="/" method="get">
          <form class="validation-form personal-account__form" action="/" method="get">
            <div class="card-block">
              <div class="card-block__item">
                <div class="card-block__header">
                  {% include "../../@atoms/title/title.twig" with {
                    title: {
                      class: "card-block__title",
                      level: 2,
                      text: "Персональные данные"
                    }
                  } %}
                </div>
                <div class="card-block__footer">
                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        class: "form-control--col",
                        name: "personal_account_name",
                        input: {
                          placeholder: "Введите ваше имя",
                          name: "name",
                          attrs: "data-pristine-required-message='Это поле является обязательным' maxlength='50' data-pristine-hyphen data-pristine-space data-pristine-only-letters required"
                        },
                        label: {
                          text: "Ваше имя *"
                        }
                      }
                    } %}
                  </div>

                  {% if personal_account.is_ur %}
                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_surname",
                          input: {
                            placeholder: "Введите вашу фамилию",
                            name: "surname",
                            attrs: "maxlength='50' data-pristine-hyphen data-pristine-space data-pristine-only-letters"
                          },
                          label: {
                            text: "Ваша фамилия"
                          }
                        }
                      } %}
                    </div>

                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_patronymic",
                          input: {
                            placeholder: "Введите ваше отчество",
                            name: "patronymic",
                            attrs: "maxlength='50' data-pristine-hyphen data-pristine-space data-pristine-only-letters"
                          },
                          label: {
                            text: "Ваше отчество"
                          }
                        }
                      } %}
                    </div>
                  {% endif %}

                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        class: "form-control--col",
                        name: "personal_account_phone",
                        input: {
                          type: "tel",
                          class: "phone-mask",
                          placeholder: "+7 (__)___-__-__",
                          name: "phone",
                          attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-phone required"
                        },
                        label: {
                          text: "Номер телефона *"
                        }
                      }
                    } %}
                  </div>

                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        class: "form-control--col",
                        name: "personal_account_email",
                        input: {
                          type: "text",
                          name: "email",
                          attrs: "disabled value='test@gmail.com'"
                        },
                        label: {
                          text: "E-mail *"
                        }
                      }
                    } %}
                  </div>

                  {% if not personal_account.is_ur %}
                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_birthday",
                          input: {
                            type: "date",
                            name: "birthday",
                            attrs: 'max="2005-07-05" data-pristine-max-message="Пользователь не должен быть младше 18 лет"'
                          },
                          label: {
                            text: "Дата вашего рождения"
                          }
                        }
                      } %}
                    </div>
                  {% endif %}

                  {% if not personal_account.is_ur %}
                    <div class="card-block__col form-control form-control--checkbox">
                      <div class="form-control__label">Ваш пол</div>

                      <div class="card-block__col-checkbox">
                        {% include "../../@atoms/form_control/form_control.twig" with {
                          form_control: {
                            view: "check",
                            name: "gender_w",
                            input: {
                              type: "radio",
                              name: "gender",
                            },
                            label: {
                              text: "Женский пол"
                            }
                          }
                        } %}

                        {% include "../../@atoms/form_control/form_control.twig" with {
                          form_control: {
                            view: "check",
                            name: "gender_m",
                            input: {
                              type: "radio",
                              name: "gender",
                            },
                            label: {
                              text: "Мужской пол"
                            }
                          }
                        } %}
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>

              {% if personal_account.is_ur %}
                <div class="card-block__item">
                  <div class="card-block__header">
                    {% include "../../@atoms/title/title.twig" with {
                      title: {
                        class: "card-block__title",
                        level: 2,
                        text: "Организация"
                      }
                    } %}
                  </div>
                  <div class="card-block__footer">
                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_payer",
                          input: {
                            placeholder: "Введите плательщика",
                            name: "payer",
                            attrs: "maxlength='100'"
                          },
                          label: {
                            text: "Плательщик (юридическое наименование)"
                          }
                        }
                      } %}
                    </div>
                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_inn",
                          input: {
                            placeholder: "Введите ИНН",
                            name: "inn",
                            attrs: "data-pristine-minlength-message='Минимальная длина - 10 символов' data-pristine-maxlength-message='Максимальная длина - 10 символов' minlength='10' maxlength='10' data-pristine-only-number"
                          },
                          label: {
                            text: "ИНН"
                          }
                        }
                      } %}
                    </div>
                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_kpp",
                          input: {
                            placeholder: "Введите КПП",
                            name: "kpp",
                            attrs: "data-pristine-minlength-message='Минимальная длина - 9 символов' data-pristine-maxlength-message='Максимальная длина - 9 символов' minlength='9' maxlength='9' data-pristine-only-number"
                          },
                          label: {
                            text: "КПП"
                          }
                        }
                      } %}
                    </div>
                  </div>
                </div>
              {% endif %}

              {% if personal_account.is_ur %}
                <div class="card-block__item">
                  <div class="card-block__header">
                    {% include "../../@atoms/title/title.twig" with {
                      title: {
                        class: "card-block__title",
                        level: 2,
                        text: "Юридический адрес"
                      }
                    } %}
                  </div>
                  <div class="card-block__footer">
                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_postcode",
                          input: {
                            placeholder: "Введите ваш почтовый индекс",
                            name: "postcode",
                            attrs: "minlength='6' maxlength='6' data-pristine-minlength-message='Минимальная длина - 6 символов' data-pristine-only-number-optional"
                          },
                          label: {
                            text: "Почтовый индекс"
                          }
                        }
                      } %}
                    </div>

                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_locality",
                          input: {
                            placeholder: "Введите ваш населенный пункт",
                            name: "locality",
                            attrs: "minlength='1' maxlength='50' data-pristine-minlength-message='Минимальная длина - 1 символ' data-pristine-cyrillic-space-hyphen-point-dash"
                          },
                          label: {
                            text: "Населенный пункт"
                          }
                        }
                      } %}
                    </div>

                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_street",
                          input: {
                            placeholder: "Введите вашу улицу",
                            name: "street",
                            attrs: "minlength='1' maxlength='150' data-pristine-minlength-message='Минимальная длина - 1 символ' data-pristine-cyrillic-space-hyphen-point-dash"
                          },
                          label: {
                            text: "Улица"
                          }
                        }
                      } %}
                    </div>

                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_house",
                          input: {
                            placeholder: "Введите ваш номер дома",
                            name: "house",
                            attrs: "minlength='1' maxlength='10' data-pristine-minlength-message='Минимальная длина - 1 символ' data-pristine-cyrillic-space-hyphen-point-dash"
                          },
                          label: {
                            text: "Номер дома"
                          }
                        }
                      } %}
                    </div>

                    <div class="card-block__col">
                      {% include "../../@atoms/form_control/form_control.twig" with {
                        form_control: {
                          class: "form-control--col",
                          name: "personal_account_flat",
                          input: {
                            placeholder: "Введите ваш номер квартиры",
                            name: "flat",
                            attrs: "minlength='1' maxlength='10' data-pristine-minlength-message='Минимальная длина - 1 символ' data-pristine-numbers-dash-slash"
                          },
                          label: {
                            text: "Номер квартиры"
                          }
                        }
                      } %}
                    </div>

                    <div class="card-block__col form-control form-control--checkbox">
                      <span class="fake-element"></span>
                      <div class="card-block__col-checkbox">
                        {% include "../../@atoms/form_control/form_control.twig" with {
                          form_control: {
                            view: "check",
                            name: "check_delivery_address",
                            input: {
                              type: "checkbox",
                              class: "js-check",
                              name: "check_delivery_address",
                              attrs: "checked data-hidden-block='card_block_ur'"
                            },
                            label: {
                              text: "Совпадает с адресом доставки"
                            }
                          }
                        } %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}

              <div class="card-block__item"{% if personal_account.is_ur %} id='card_block_ur' hidden{% endif %}>
                <div class="card-block__header">
                  {% include "../../@atoms/title/title.twig" with {
                    title: {
                      class: "card-block__title",
                      level: 2,
                      text: "Адрес"
                    }
                  } %}
                </div>
                <div class="card-block__footer">
                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        class: "form-control--col",
                        name: personal_account.is_ur ? "personal_account_postcode_ur" : "personal_account_postcode",
                        input: {
                          placeholder: "Введите ваш почтовый индекс",
                          name: "postcode",
                          attrs: "minlength='6' maxlength='6' data-pristine-minlength-message='Минимальная длина - 6 символов' data-pristine-only-number-optional"
                        },
                        label: {
                          text: "Почтовый индекс"
                        }
                      }
                    } %}
                  </div>

                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        class: "form-control--col",
                        name: personal_account.is_ur ? "personal_account_locality_ur" : "personal_account_locality",
                        input: {
                          placeholder: "Введите ваш населенный пункт",
                          name: "locality",
                          attrs: "minlength='1' maxlength='50' data-pristine-minlength-message='Минимальная длина - 1 символ' data-pristine-cyrillic-space-hyphen-point-dash"
                        },
                        label: {
                          text: "Населенный пункт"
                        }
                      }
                    } %}
                  </div>

                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        class: "form-control--col",
                        name: personal_account.is_ur ? "personal_account_street_ur" : "personal_account_street",
                        input: {
                          placeholder: "Введите вашу улицу",
                          name: "street",
                          attrs: "minlength='1' maxlength='150' data-pristine-minlength-message='Минимальная длина - 1 символ' data-pristine-cyrillic-space-hyphen-point-dash"
                        },
                        label: {
                          text: "Улица"
                        }
                      }
                    } %}
                  </div>

                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        class: "form-control--col",
                        name: personal_account.is_ur ? "personal_account_house_ur" : "personal_account_house",
                        input: {
                          placeholder: "Введите ваш номер дома",
                          name: "house",
                          attrs: "minlength='1' maxlength='10' data-pristine-minlength-message='Минимальная длина - 1 символ' data-pristine-cyrillic-space-hyphen-point-dash"
                        },
                        label: {
                          text: "Номер дома"
                        }
                      }
                    } %}
                  </div>

                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        class: "form-control--col",
                        name: personal_account.is_ur ? "personal_account_flat_ur" : "personal_account_flat",
                        input: {
                          placeholder: "Введите ваш номер квартиры",
                          name: "flat",
                          attrs: "minlength='1' maxlength='10' data-pristine-minlength-message='Минимальная длина - 1 символ' data-pristine-numbers-dash-slash"
                        },
                        label: {
                          text: "Номер квартиры"
                        }
                      }
                    } %}
                  </div>
                </div>
              </div>
            </div>

            {% include "../../@atoms/button/button.twig" with {
              button: {
                class: "btn--btn btn--primary personal-account__save-btn",
                text: {
                  text: "Сохранить изменения"
                }
              }
            } %}
          </form>

          <form class="validation-form personal-account__form" action="/" method="get">
            <div class="card-block">
              <div class="card-block__item">
                <div class="card-block__header">
                  {% include "../../@atoms/title/title.twig" with {
                    title: {
                      class: "card-block__title",
                      level: 2,
                      text: "Смена пароля"
                    }
                  } %}
                </div>
                <div class="card-block__footer">
                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        name: "personal_account_current_password",
                        class: "form-control--col",
                        input: {
                          type: "password",
                          placeholder: "Введите текущий пароль",
                          name: "password",
                          attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' data-pristine-at-least-lower-and-upper-letter-and-digit required"
                        },
                        label: {
                          text: "Текущий пароль *"
                        }
                      }
                    } %}
                  </div>

                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        name: "personal_account_new_password",
                        class: "form-control--col",
                        input: {
                          type: "password",
                          placeholder: "Введите новый пароль",
                          name: "password",
                          attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' data-pristine-at-least-lower-and-upper-letter-and-digit required"
                        },
                        label: {
                          text: "Новый пароль *"
                        }
                      }
                    } %}
                  </div>

                  <div class="card-block__col">
                    {% include "../../@atoms/form_control/form_control.twig" with {
                      form_control: {
                        name: "personal_account_new_password_repeat",
                        class: "form-control--col",
                        input: {
                          type: "password",
                          placeholder: "Повторите новый пароль",
                          name: "password_repeat",
                          attrs: "data-pristine-required-message='Это поле является обязательным' data-pristine-minlength-message='Минимальная длина - 8 символов' minlength='8' maxlength='20' data-pristine-at-least-lower-and-upper-letter-and-digit data-pristine-equals='#personal_account_new_password_default' data-pristine-equals-message='Пароли не совпадают' required"
                        },
                        label: {
                          text: "Повторите новый пароль *"
                        }
                      }
                    } %}
                  </div>

                  <div class="card-block__col">
                    <span class="fake-element"></span>
                    {% include "../../@atoms/button/button.twig" with {
                      button: {
                        class: "btn--btn btn--primary personal-account__change-password-btn",
                        text: {
                          text: "Сменить пароль"
                        }
                      }
                    } %}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
</section>