{% set level = title.level|default("1") %}

{% if not title.link %}
  <h{{ level }}
    {% if title.id %}id="{{ title.id }}"{% endif %}
    class="title {% if title.class %}{{ title.class }}{% endif %}"
    {% if title.attrs %}{{ title.attrs }}{% endif %}
  >
    {{ title.text }}

    {% if title.label %}
      <span class="title__label">
        {{ title.label }}
      </span>
    {% endif %}
  </h{{ level }}>
{% else %}
  <h{{ level }}
    {% if title.id %}id="{{ title.id }}"{% endif %}
    class="title {% if title.class %}{{ title.class }}{% endif %}"
    {% if title.attrs %}{{ title.attrs }}{% endif %}
  >
    <a
      class="title__link {{ title.link.class }}"
      href="{{ title.link.href|default("#") }}"
      {{ title.link.attrs }}
    >
      {{ title.text }}
    </a>
  </h{{ level }}>
{% endif %}